<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net48" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.4.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="105.0.5195.5200" targetFramework="net48" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.31.0.1" targetFramework="net48" />
</packages>